<div class="text-center mt-2 mb-2">
    <label for="">search :</label>
    <input type="text" name="search" placeholder="search by username" [(ngModel)]="searchterm">
</div>
<div class="container mt-5">
    <h4 class="text-success text-center">posting Marks Status</h4>
    <form #ref="ngForm" (ngSubmit)="marksData(ref.value)" class="bg-primary">
        <div class="form-group row mt-2">
            <div class="col-md-3 mt-2">
                <label for="">student Number</label>
            </div>
            <div class="col-md-4 mt-2">
                <input type="number" name="studentno" id="" class="form-control"ngModel   #ref1="ngModel" required>
                <label *ngIf="ref1.invalid &&  ref1.touched"><div class="text-danger">*this field is manadatory</div></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">username</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="username" id="" class="form-control" ngModel  #ref8="ngModel" required>  
                <label *ngIf="ref8.invalid && ref8.touched"><div class="text-danger">*this field is manadatory</div></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">student name</label>
            </div>
            <div class="col-md-4">
              <input type="text"name="studentname"id=""class="form-control"ngModel    #ref2="ngModel" required>
              <label *ngIf="ref2.invalid &&  ref2.touched"><div class="text-danger">*this field is manadatory</div></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">Total Marks</label>
            </div>
            <div class="col-md-4">
                <input type="number"name="totalmarks"id=""class="form-control"ngModel    #ref3="ngModel" required>
                <label *ngIf="ref3.invalid &&  ref3.touched"><div class="text-danger">*this field is manadatory</div></label>

            </div>
        </div>
        <div class="form-group row">
        <div class="col-md-3">
            <label for="">Marks Gained</label>
        </div>
        <div class="col-md-4">
            <input type="number"name="gainedmarks"id=""class="form-control"ngModel #ref4="ngModel" required>
            <label *ngIf="ref4.invalid &&  ref4.touched"><div class="text-danger">*this field is manadatory</div></label>
        </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">Course</label>
            </div>
            <div class="col-md-4">
                <select name="course"id=""ngModel  #ref5="ngModel" required>
                    <option [value]=course *ngFor="let course of courses">{{course}}</option>
                    <label *ngIf="ref5.invalid &&  ref5.touched"><div class="text-danger">*this field is manadatory</div></label>

                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">Branch</label>
            </div>
            <div class="col-md-4">
                <select name="branch"id=""ngModel   #ref6="ngModel" required>
                    <option [value]=branch *ngFor="let branch of branches">{{branch}}</option>
                    <label *ngIf="ref6.invalid &&  ref6.touched"><div class="text-danger">*this field is manadatory</div></label>
                </select>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-success" type="submit">Post</button>
        </div>
    </form>
</div>
<div *ngIf="b">
    <form #ref="ngForm" (ngSubmit)="testingmarks(ref.value)"class="bg-primary">
        <div class="form-group row mt-2">
            <div class="col-md-3">
                <label for="">studentnumber</label>
            </div>
            <div class="col-md-4">
                <input type="number" name="studentno" [value]=objectToModify.studentno class="form-control"[(ngModel)]=objectToModify.studentno>
            </div>
        </div>
        <div class="form-group row mt-2">
            <div class="col-md-3">
                <label for="">studentname</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="studentname" [value]=objectToModify.studentname class="form-control"[(ngModel)]=objectToModify.studentname>
            </div>
        </div>
        <div class="form-group row mt-2">
            <div class="col-md-3">
                <label for="">totalmarks</label>
            </div>
            <div class="col-md-4">
                <input type="number" name="totalmarks" [value]=objectToModify.totalmarks class="form-control"[(ngModel)]=objectToModify.totalmarks>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">gainedmarks</label>
            </div>
            <div class="col-md-4">
              <input type="number" name="gainedmarks" [value]=objectToModify.gainedmarks class="form-control" [(ngModel)]=objectToModify.gainedmarks>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">Course</label>
            </div>
            <div class="col-md-4">
                    <select name="course" id="" [(ngModel)]=objectToModify.course>
                        <option [value]=course *ngFor="let course of courses">{{course}}</option>
                    </select>
                </div>
            </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">Branch</label>
            </div>
            <div class="col-md-4">
                <select name="branch" id="" [(ngModel)]=objectToModify.branch>
                    <option [value]=branch *ngFor="let branch of branches">{{branch}}</option>
                </select>
                
                </div>  
            </div>
            <button type="submit">save</button>
    </form>
</div>
    <table class="table">
        <thead>
            <th>studentno</th>
            <th>studentname</th>
            <th>totalmarks</th>
            <th>gainedmarks</th>
            <th>course</th>
            <th>branch</th>
        </thead>
        <tr *ngFor="let q of data | search:searchterm">
            <td>{{q.studentno}}</td>
            <td>{{q.username}}</td>
            <td>{{q.studentname}}</td>
            <td>{{q.totalmarks}}</td>
            <td>{{q.gainedmarks}}</td>
            <td>{{q.course}}</td>
            <td>{{q.branch}}</td>
            <button (click)="deleteRecord(q.username)">x</button>
            <button (click)="editingmarks(q)">edit</button>
        </tr>
    </table>

