<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="text-center">
                <h2 class="mt-5">LOGIN</h2>
            </div>
            <form #ref="ngForm" (ngSubmit)="sendData(ref.value)">
                <div class="form-group">
                    <label for="">user id</label>
                    <input type="text" name="username" class="form-control" ngModel #ref1="ngModel" required>
                    <label *ngIf="ref1.invalid && (ref1.dirty || ref1.touched)"><div class="text-danger">this field is mandatory</div></label>
                </div>
                <div class="form-group">
                        <label for="">password</label>
                        <input type="password" name="password" class="form-control" ngModel #ref2="ngModel" required>
                        <div *ngIf="ref2.invalid && (ref2.dirty || ref2.touched)">
                            <div *ngIf="ref2.errors.minlength" class="text-danger">password must be atleast 5 characters</div>
                    </div></div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">login</button>

                    </div>
                    <div class="text-center">
                        <a routerLink="/header/forgot">forgot password</a>
                    </div>
                   
                    <label *ngIf="ref3.invalid && (ref3.dirty || ref3.untouched)"><div class="text-danger">this field is mandatory</div></label>
                    <div class="form-check">
                        <label for="f" class="form-check-label">
                            <input type="radio" name="user" id="f" value="admin" class="form-check-input" ngModel #ref3="ngModel" required>Admin
                        </label>
                    </div> 
                    <div class="form-check">
                            <label for="m" class="form-check-label">
                                <input type="radio" name="user" id="m" value="student" class="form-check-input" ngModel #ref3="ngModel" required>student
                            </label>
                        </div> 

                        
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<!-- <div class="container bg-primary">
    <h1 class="text-center text-dark">Login Form</h1>
    <form #ref="ngForm" (ngSubmit)="sendData(ref.value)">
    
        <div class="form-group row">
            <div class="col-md-4">
                    <label>username</label>
            </div>
            <div class="col-md-8">
            <input type="text" class="form-control" name="username" ngModel>
        </div>
        </div>
        <div class="form-group row">
                <div class="col-md-4">
                <label>password</label>
                </div>
                <div class="col-md-8">
                <input type="password" class="form-control" name="password" ngModel>
            </div>
        </div>
            <div class="text-center">
                <button class="btn btn-danger" type="submit">submit</button>
            </div>
<div>
<label for="o"class="form-check-label"></label>
<input type="radio" class="form-check-input" name="user" value="admin" id="o" ngModel>Admin
</div>
<div>
<label for="p"class="form-check-label"></label>
<input type="radio" class="form-check-input" name="user" value="student" id="p"ngModel>student
</div>
</form>
</div> -->