<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- <h1 class="text-center text-primary mt-2">
        <MARquee>WELCOME TO STUDENT MANAGEMENT SYSYTEM</MARquee>
    </h1> -->
    <a href=""class="navbar-brand">
         <img src="assets/20.png"style="width:40px">
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#m">
        <span class="navbar-toggler-icon"></span>
    </button> 

    <div id="m" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a routerLink="home" class="nav-link text-primary">HOME</a>
        </li>
        <li class="nav-item">
          <a routerLink ="aboutUs"class="nav-link text-primary">AboutUs</a>
      </li>
      <li class="nav-item">
          <a routerLink="login"class="nav-link text-primary">login</a>
      </li>

    </ul>
</div>
  </nav>
  <router-outlet></router-outlet>

