
<div class="col-md-2"></div>
 <div class="col-md-8">
     <table class="table" *ngFor="let obj of y">
         <tr class="form-group">
             <td>studentno</td>
             <td>{{obj.studentno}}</td>
         </tr>
         <tr class="form-group">
             <td>studentname</td>
             <td>{{obj.studentname}}</td>
         </tr>
         <tr class="form-group">
             <td>monthly</td>
             <td>{{obj.monthly}}</td>
         </tr>
         <tr class="form-group">
             <td>weekly</td>
             <td>{{obj.weekly}}</td>
         </tr>
     </table>
 </div>