<div class="text-center mt-2 mb-2">
    <label for="">search :</label>
    <input type="text" name="search" placeholder="search by username" [(ngModel)]="searchterm">
</div>
<div class="container mt-5">
    <form #ref="ngForm"(ngSubmit)="fee(ref.value)"class="bg-primary">
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">student Number</label>
            </div>
            <div class="col-md-4 mt-2">
                <input type="number"name="studentno"id=""class="form-control"ngModel  #ref5="ngModel" required>
                <label *ngIf="ref5.invalid &&  ref5.touched"><div class="text-danger">*this field is manadatory</div></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">username</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="username" id="" class="form-control" ngModel  #ref8="ngModel" required>  
                <label *ngIf="ref8.invalid && ref8.touched"><div class="text-danger">*this field is manadatory</div></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">student name</label>
            </div>
            <div class="col-md-4">
                <input type="text"name="studentname"id=""class="form-control"ngModel  #ref4="ngModel" required>
                <label *ngIf="ref4.invalid &&  ref4.touched"><div class="text-danger">*this field is manadatory</div></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">Courses</label>
            </div>
            <div class="col-md-4">
                <input type="text"name="course"id=""class="form-control"ngModel  #ref3="ngModel" required>  
                <label *ngIf="ref3.invalid &&  ref3.touched"><div class="text-danger">*this field is manadatory</div></label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3">
                <label for="">Branch</label>
            </div>
            <div class="col-md-4">
                <input type="text"name="branch"id=""class="form-control"ngModel  #ref2="ngModel" required>
                <label *ngIf="ref2.invalid &&  ref2.touched"><div class="text-danger">*this field is manadatory</div></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">Total Fee</label>
            </div>
            <div class="col-md-4">
                <input type="number"name="totalfee"id=""class="form-control"ngModel   #ref1="ngModel" required>
                <label *ngIf="ref1.invalid &&  ref1.touched"><div class="text-danger">*this field is manadatory</div></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">paid Fee</label>
            </div>
            <div class="col-md-4">
                <input type="number"name="paidfee"id=""class="form-control"ngModel   #ref6="ngModel" required>
                <label *ngIf="ref6.invalid &&  ref6.touched"><div class="text-danger">*this field is manadatory</div></label>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-success" type="submit">Post</button>
        </div>
        </form>
        
        <div *ngIf="b">
            <form #ref="ngForm" (ngSubmit)="testingfee(ref.value)"class="bg-primary">
                <div class="form-group row mt-2">
                    <div class="col-md-3">
                        <label for="">studentnumber</label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" name="studentno" [value]=objectToModify.studentno class="form-control"[(ngModel)]=objectToModify.studentno>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <div class="col-md-3">
                        <label for="">studentname</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="studentname" [value]=objectToModify.studentname class="form-control"[(ngModel)]=objectToModify.studentname>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="">Course</label>
                    </div>
                    <div class="col-md-4">
                            <select name="course" id="" [(ngModel)]=objectToModify.course>
                                <option [value]=course *ngFor="let course of courses">{{course}}</option>
                            </select>
                        </div>
                    </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="">Branch</label>
                    </div>
                    <div class="col-md-4">
                        <select name="branch" id="" [(ngModel)]=objectToModify.branch>
                            <option [value]=branch *ngFor="let branch of branches">{{branch}}</option>
                        </select>
                        
                        </div>  
                    </div>
                <div class="form-group row mt-2">
                    <div class="col-md-3">
                        <label for="">totalfee</label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" name="totalfee" [value]=objectToModify.totalfee class="form-control"[(ngModel)]=objectToModify.totalfee>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="">paidfee</label>
                    </div>
                    <div class="col-md-4">
                      <input type="number" name="paidfee" [value]=objectToModify.paidfee class="form-control" [(ngModel)]=objectToModify.paidfee>
                    </div>
                </div>
                    <button type="submit">save</button>
            </form>
        </div>
            <table class="table">
                <thead>
                    <th>studentno</th>
                    <th>username</th>
                    <th>studentname</th>
                    <th>course</th>
                    <th>branch</th>
                    <th>totalfee</th>
                    <th>paidfee</th>
                </thead>
                <tr *ngFor="let q of data | search:searchterm">
                    <td>{{q.studentno}}</td>
                    <td>{{q.username}}</td>
                    <td>{{q.studentname}}</td>
                    <td>{{q.course}}</td>
                    <td>{{q.branch}}</td>
                    <td>{{q.totalfee}}</td>
                    <td>{{q.paidfee}}</td>
                    <td><button (click)="deleteRecord(q.username)">x</button></td>
                    <td><button (click)="editingfee(q)">edit</button></td>
                </tr>
            </table>
            </div>
        
