<div class="text-center mt-2 mb-2">
    <label for="">search :</label>
    <input type="text" name="search" placeholder="search by username" [(ngModel)]="searchterm">
</div>
<div class="container mt-5">
    <h4 class="text-success text-center">Attendence Status</h4>
    <form #ref="ngForm"(ngSubmit)="attendenceData(ref.value)"class="bg-primary">
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">student Number</label>
            </div>
            <div class="col-md-4 mt-2">
                <input type="number"name="studentno"id=""class="form-control"ngModel #ref5="ngModel" required>
                <label *ngIf="ref5.invalid &&  ref5.touched"><div class="text-danger">*this field is manadatory</div></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">username</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="username" id="" class="form-control" ngModel  #ref8="ngModel" required>  
                <label *ngIf="ref8.invalid && ref8.touched"><div class="text-danger">*this field is manadatory</div></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">student name</label>
            </div>
            <div class="col-md-4">
                <input type="text"name="studentname"id=""class="form-control"ngModel #ref4="ngModel" required>
                <label *ngIf="ref4.invalid &&  ref4.touched"><div class="text-danger">*this field is manadatory</div></label>

            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">monthly Attendence</label>
            </div>
            <div class="col-md-4">
                <input type="number"name="monthly"id=""class="form-control"ngModel  #ref3="ngModel" required>
                <label *ngIf="ref3.invalid &&  ref3.touched"><div class="text-danger">*this field is manadatory</div></label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">weekly attendece</label>
            </div>
            <div class="col-md-4">
                <input type="number"name="weekly"id=""class="form-control"ngModel  #ref2="ngModel" required>
                <label *ngIf="ref2.invalid &&  ref2.touched"><div class="text-danger">*this field is manadatory</div></label>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">post</button>
        </div>
        </form>
        </div>
        <div *ngIf=b>
            <form #ref="ngForm" (ngSubmit)="attendence(ref.value)"class="bg-primary">
                <div class="form-group row mt-2">
                    <div class="col-md-3">
                        <label for="">studentnumber</label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" name="studentno" [value]=objectToModify.studentno class="form-control"[(ngModel)]=objectToModify.studentno>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <div class="col-md-3">
                        <label for="">studentname</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="studentname" [value]=objectToModify.studentname class="form-control"[(ngModel)]=objectToModify.studentname>
                    </div>
                </div>
                <div class="form-group row mt-2">
                    <div class="col-md-3">
                        <label for="">monthly attendece</label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" name="monthly" [value]=objectToModify.monthly class="form-control"[(ngModel)]=objectToModify.monthly>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-md-3">
                        <label for="">weekly attendece</label>
                    </div>
                    <div class="col-md-4">
                      <input type="number" name="weekly" [value]=objectToModify.weekly class="form-control"[(ngModel)]=objectToModify.weekly>
                    </div>
                </div>
            
                    <button type="submit">save</button>
            </form>
        </div>
            <table class="table">
                <thead>
                    <th>studentno</th>
                    <th>username</th>
                    <th>studentname</th>
                    <th>monthly</th>
                    <th>weekly</th>
                </thead>
                <tr *ngFor="let q of data | search:searchterm"t>
                    <td>{{q.studentno}}</td>
                    <td>{{q.username}}</td>
                    <td>{{q.studentno}}</td>
                    <td>{{q.studentname}}</td>
                    <td>{{q.monthly}}</td>
                    <td>{{q.weekly}}</td>
                    <td><button (click)="deleteRecord(q.studentname)">x</button></td>
                    <td><button (click)="editingattendence(q)">edit</button></td>
                </tr>
            </table>
            

