<div class="container mt-5">
        <h4 class="text-success text-center">student registration</h4>
        <form #ref="ngForm" (ngSubmit)="Data(ref.value)"class="bg-primary">
            <div class="form-group row mt-2">
                <div class="col-md-3">
                    <label for="">student Number</label>
                </div>
                <div class="col-md-4 mt-2">
                    <input type="number" name="studentno" id="" class="form-control" ngModel #ref5="ngModel" required>
                    <label *ngIf="ref5.invalid &&  ref5.touched"><div class="text-danger">*this field is manadatory</div></label>
                </div>
            </div>
            <div class="form-group row mt-2">
                <div class="col-md-3">
                    <label for="">username</label>
                </div>
                <div class="col-md-4">
                    <input type="text"name="username"id=""class="form-control" ngModel #ref1="ngModel" required>
                    <label *ngIf="ref1.invalid && (ref1.dirty ||ref1.touched)"><div class="text-danger">*this field is manadatory</div></label>
                </div>
            </div>
            <!-- <div class="form-group row mt-2">
                <div class="col-md-3">
                    <label for="">password</label>
                </div>
                <div class="col-md-4">
                    <input type="password" name="password" id="" class="form-control"ngModel #ref2="ngModel" required minlength="5">
                    <label *ngIf="ref2.invalid && (ref2.dirty ||ref2.untouched)"><div class="text-danger">*password must be 5 characters</div></label>
                </div>
            </div> -->
            
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="">student name</label>
                </div>
                <div class="col-md-4">
                  <input type="text"name="studentname"id=""class="form-control"ngModel #ref3="ngModel" required>
                  <label *ngIf="ref3.invalid && ref3.touched"><div class="text-danger">*this field is manadatory</div></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="">email id</label>
                </div>
                <div class="col-md-4">
                  <input type="text"name="gmail"id=""class="form-control"ngModel #ref4="ngModel" required>
                  <label *ngIf="ref4.invalid && ref4.touched"><div class="text-danger">*this field is manadatory</div></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="">Course</label>
                </div>
                <div class="col-md-4">
                    <select name="course"id=""ngModel>
                        <option [value]=course *ngFor="let course of courses">{{course}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="">Branch</label>
                </div>
                <div class="col-md-4">
                    <select name="branch"id=""ngModel>
                        <option [value]=branch *ngFor="let branch of branches">{{branch}}</option>
                    </select>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-success">Post</button>
            </div>
        </form>
    </div>
    <!-- <div *ngIf=b>
    <form #ref="ngForm" (ngSubmit)="testing(ref.value)"class="bg-primary">
        <div class="form-group row mt-2">
            <div class="col-md-3">
                <label for="">studentno</label>
            </div>
            <div class="col-md-4">
                <input type="number" name="studentno" [value]=objectToModify.studentno class="form-control"[(ngModel)]=objectToModify.studentno>
            </div>
        </div>
        <div class="form-group row mt-2">
            <div class="col-md-3">
                <label for="">username</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="username" [value]=objectToModify.username class="form-control"[(ngModel)]=objectToModify.username>
            </div>
        </div>
        <!-- <div class="form-group row mt-2">
            <div class="col-md-3">
                <label for="">password</label>
            </div>
             -->
        
        <!-- <div class="form-group row">
            <div class="col-md-3">
                <label for="">student name</label>
            </div>
            <div class="col-md-4">
              <input type="text" name="studentname" [value]=objectToModify.studentname class="form-control"[(ngModel)]=objectToModify.studentname>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">email id</label>
            </div>
            <div class="col-md-4">
              <input type="text" name="email" [value]=objectToModify.email class="form-control" [(ngModel)]=objectToModify.email>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">Course</label>
            </div>
            <div class="col-md-4">
                    <select name="course" id="" [(ngModel)]=objectToModify.course>
                        <option [value]=course *ngFor="let course of courses">{{course}}</option>
                    </select>
                </div>
            </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">Branch</label>
            </div>
            <div class="col-md-4">
                <select name="branch" id="" [(ngModel)]=objectToModify.branch>
                    <option [value]=branch *ngFor="let branch of branches">{{branch}}</option>
                </select>
                
                </div>  
            </div>
            <button type="submit">save</button>
    </form>
</div>
    <table class="table-responsive">
        <thead>
            <th>studentno</th>
            <th>username</th>
            <th>studentname</th>
            <th>email id</th>
            <th>course</th>
            <th>branch</th>
        </thead>
        <tr *ngFor="let q of l">
            <td>{{q.studentno}}</td>
            <td>{{q.username}}</td>
            <td>{{q.studentname}}</td>
            <td>{{q.email}}</td>
            <td>{{q.course}}</td>
            <td>{{q.branch}}</td>
            <td><button (click)="deleteRecord(q.studentname)">x</button></td>
            <td><button (click)="editingData(q)">edit</button></td>
        </tr>
    </table>
     --> -->