<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
    <!-- <table class="table">
        <tr>
            <td>studentno</td>
            <td>{{n.studentno}}</td>
        </tr>
        <tr>
            <td>studentname</td>
            <td>{{n.studentname}}</td>
        </tr>
        <tr>
        <td>totalfee</td>
        <td>{{n.totalfee}}</td>
            </tr>
            <tr>
                    <td>paidfee</td>
                    <td>{{n.paidfee}}</td>
                    </tr>
                    <tr>
                            <td>pendingfee</td>
                            <td>{{p}}</td>
                            </tr>
    </table> -->
    <!-- <table class="table">
        <thead>
            <th>studentno</th>
            <th>studentname</th>
            <th>totalfee</th>
            <th>paidfee</th>
            <th>pendingfee</th>
        </thead>
        <tr *ngFor="let q of g">
            <td>{{q.studentno}}</td>
            <td>{{q.studentname}}</td>
            <td>{{q.totalfee}}</td>
            <td>{{q.paidfee}}</td>
            <td>{{q.pendingfee}}</td>
        </tr>
    </table>
    <div class="col-md-3"></div>
        </div>
    </div>
</div>
 -->
 <div class="col-md-2"></div>
 <div class="col-md-8">
     <table class="table" *ngFor="let obj of y">
         <tr class="form-group">
             <td>studentno</td>
             <td>{{obj.studentno}}</td>
         </tr>
         <tr class="form-group">
            <td>username</td>
            <td>{{obj.username}}</td>
        </tr>

         <tr class="form-group">
             <td>studentname</td>
             <td>{{obj.studentname}}</td>
         </tr>
         <tr class="form-group">
             <td>course</td>
             <td>{{obj.course}}</td>
         </tr>
         <tr class="form-group">
             <td>branch</td>
             <td>{{obj.branch}}</td>
         </tr>
         <tr class="form-group">
             <td>totalfee</td>
             <td>{{obj.totalfee}}</td>
         </tr>
         <tr class="form-group">
             <td>paidfee</td>
             <td>{{obj.paidfee}}</td>
         </tr>
     </table>
 </div>