<div class="text-center mt-2 mb-2">
    <label for="">search :</label>
    <input type="text" name="search" placeholder="search by username" [(ngModel)]="searchterm">
</div>
<div *ngIf=b>
    <form #ref="ngForm" (ngSubmit)="testing(ref.value)"class="bg-primary">
        <div class="form-group row mt-2">
            <div class="col-md-3">
                <label for="">studentno</label>
            </div>
            <div class="col-md-4">
                <input type="number" name="studentno" [value]=objectToModify.studentno class="form-control"[(ngModel)]=objectToModify.studentno>
            </div>
        </div>
        <div class="form-group row mt-2">
            <div class="col-md-3">
                <label for="">username</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="username" [value]=objectToModify.username class="form-control"[(ngModel)]=objectToModify.username>
            </div>
        </div>
        <!-- <div class="form-group row mt-2">
            <div class="col-md-3">
                <label for="">password</label>
            </div>
             -->
        
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">student name</label>
            </div>
            <div class="col-md-4">
              <input type="text" name="studentname" [value]=objectToModify.studentname class="form-control"[(ngModel)]=objectToModify.studentname>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">email id</label>
            </div>
            <div class="col-md-4">
              <input type="text" name="email" [value]=objectToModify.email class="form-control" [(ngModel)]=objectToModify.email>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">Course</label>
            </div>
            <div class="col-md-4">
                    <select name="course" id="" [(ngModel)]=objectToModify.course>
                        <option [value]=course *ngFor="let course of courses">{{course}}</option>
                    </select>
                </div>
            </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="">Branch</label>
            </div>
            <div class="col-md-4">
                <select name="branch" id="" [(ngModel)]=objectToModify.branch>
                    <option [value]=branch *ngFor="let branch of branches">{{branch}}</option>
                </select>
                
                </div>  
            </div>
            <button type="submit">save</button>
    </form>
</div>
<div class="container bg-dark mt-5">
<div class="col-md-3"></div>
 <div class="col-md-6 text-white">
    <table class="table text-white">
        <thead>
            <th>studentno</th>
            <th>username</th>
            <th>studentname</th>
            <th>email id</th>
            <th>course</th>
            <th>branch</th>
        </thead>
        <tr *ngFor="let q of l | search:searchterm">
            <td>{{q.studentno}}</td>
            <td>{{q.username}}</td>
            <td>{{q.studentname}}</td>
            <td>{{q.email}}</td>
            <td>{{q.course}}</td>
            <td>{{q.branch}}</td>
            <td><button (click)="deleteRecord(q.studentname)">x</button></td>
            <td><button (click)="editingData(q)">edit</button></td>
        </tr>
    </table>
    </div>
    <div class="col-md-3"></div>
    
</div>