<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a href=""class="navbar-brand">
         <img src="assets/30-3.ico"style="width:40px">
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a routerLink="profile" class="nav-link text-primary">profile</a>
        </li>
        <li class="nav-item">
          <a routerLink ="marks" class="nav-link text-primary">marks status</a>
      </li>
      <li class="nav-item">
          <a routerLink="fee" class="nav-link text-primary">fee status</a>
      </li>
      <li class="nav-item">
        <a routerLink="attendence" class="nav-link text-primary">Attendence</a>
    </li>
    <li class="nav-item">
        <a routerLink="notification" class="nav-link text-primary">Notification</a>
    </li>
    <li class="nav-item">
            <a routerLink="leave" class="nav-link text-primary">leave</a>
        </li>
        <li class="nav-item">
            <a routerLink="    "class="nav-link text-primary" (click)="log()">log out</a>
        </li>
    </ul>
    
  </nav>
  <router-outlet></router-outlet>
 
