<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a href=""class="navbar-brand">
         <img src="assets/30-3.ico"style="width:40px">
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a routerLink="postingmarks"class="nav-link text-primary">posting marks</a>
        </li>
        <li class="nav-item">
          <a routerLink ="updatefeestatus"class="nav-link text-primary">updatefeestatus</a>
      </li>
      
    
      <li class="nav-item">
          <a routerLink="updateattendence"class="nav-link text-primary">update attendence</a>
      </li>
      <li class="nav-item">
        <a routerLink="sendnotification"class="nav-link text-primary">sendnotification</a>
    </li>
    <li class="nav-item">
            <a routerLink="sendleave"class="nav-link text-primary">sendleave</a>
        </li>

      <li class="nav-item">
            <a routerLink="addstudent"class="nav-link text-primary">addstudent</a>
        </li>
        <li class="nav-item">
            <a routerLink="viewprofile"class="nav-link text-primary">viewprofile</a>
        </li>  
    <li class="nav-item">
        <a routerLink="    "class="nav-link text-primary" (click)="log()">log out</a>
    </li>
    </ul>
    
  </nav>
  <router-outlet></router-outlet>

