<h1 class="text-center" mt-2>Request to admin</h1>
<form #ref="ngForm" (ngSubmit)="requestof(ref.value)">
<div class="form-group">
<label for=""><h5>Request for leave</h5></label>
<textarea name="letter" id="" cols="30" rows="15" class="form-control" ngModel></textarea>
<div class="row">
<div class="col-sm-4">
<label for="" class="mt-2"><h6>From</h6></label>
<input type="date" name="from" class="form-control" ngModel>
</div> 
<div class="col-sm-4">
<label for="" class="mt-2"><h6>To</h6></label>
<input type="date" name="to" class="form-control" ngModel>
</div>
<div class="col-sm-4">
<label for="" class="mt-2"><h6>No of days</h6></label>
<input type="number" name="totaldays" class="form-control" ngModel>
</div>
</div>
<div class="text-center">
<button class="btn btn-success mt-3" type="submit">{{b?"Sendrequest":"Request loading"}}</button>
</div>
</div>
</form>
<div >
  <ul *ngFor="let value of accept">
      <li>{{value.message}}</li>
    <li>{{value.reason}}</li>
  </ul>
</div>