<!-- <table>
    <tr>
        <th>studentno</th>
        <th>studentname</th>
        <th>course</th>
        <th>branch</th>
        <th>Totalmarks</th>
        <th>Gainedmarks</th>
    </tr>
    <tr *ngFor="let value of c">
        <td>{{value.studentno}}</td>
        <td>{{value.studentname}}</td>
        <td>{{value.course}}</td>
        <td>{{value.branch}}</td>
        <td>{{value.totalmarks}}</td>
        <td>{{value.gainedmarks}}</td>
    </tr>
</table>
<button>x</button> -->
<div class="col-md-2"></div>
<div class="col-md-8">
    <table class="table" *ngFor="let obj of y">
        <tr class="form-group">
            <td>studentno</td>
            <td>{{obj.studentno}}</td>
        </tr>
        <tr class="form-group">
            <td>studentno</td>
            <td>{{obj.studentno}}</td>
        </tr>
        <tr class="form-group">
            <td>studentname</td>
            <td>{{obj.studentname}}</td>
        </tr>
        <tr class="form-group">
            <td>totalmarks</td>
            <td>{{obj.totalmarks}}</td>
        </tr>
        <tr class="form-group">
            <td>gainedmarks</td>
            <td>{{obj.gainedmarks}}</td>
        </tr>
        <tr class="form-group">
            <td>course</td>
            <td>{{obj.course}}</td>
        </tr>
        <tr class="form-group">
            <td>branch</td>
            <td>{{obj.branch}}</td>
        </tr>
    
    </table>
</div>