<div class="container">
    
      <div class="container-fluid">
        <div id="demo" class="carousel slide container-fluid" data-ride="carousel">
    
                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
              
                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/61.png" width="100%"height="400px">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/5.png"width="100%"height="400px">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/6.jpg" width="100%"height="400px">
                  </div>
                  <div class="carousel-item">
                        <img src="assets/55.png"width="100%"height="400px">
                      </div>
                </div>
              
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              
              </div>
            </div>
            <div class="container">
              <h1 class="text-primary text-center">AboutUs</h1>
              <p> A student management system (also known as a student information system or SIS) helps a school manage data, communications, and scheduling. A school system generates and uses a large amount of data. This data must be communicated appropriately to students, faculty, and parents.
                </p>
                <p>A school system generates and uses a large amount of data. This data must be communicated appropriately to students, faculty, and parents. A student management system helps schools to store, manage, and distribute this information.
    
    
                        Some student management systems are designed to serve all of a school’s data management needs. Other student management systems are specialized. These specialized solutions target specific needs, such as school applications or student behavior tracking.</p>
                        </div>
                        <div class="container">
                        <h2 class="text-center text-primary">WHY TO CHOOSE STUDENT MANAGEMENT</h2>
                <div class="row">
                    <div class="col-md-6">
                        <img src="assets/199.jpg"height="500px"width="500px">
                    </div>
                    <div class="col-md-6">
                        <p>The first significant advantage of a student management system is that as a school you are able to keep proper track of data related to students. This includes areas such as fees being paid by students, examination records of the students, transport facilities being provided by the school and availed by the students, and usage of libraries and other school facilities by the students. As a school, you can access this data and more, by using a unique identification number of the student. In fact, apart from management people, students can also use these systems in order to keep track of their dues as well as class schedules.</p>
                        <ul>
                            <li> Better performance by the students</li>
                            <li>Simplifying and streamlining all the tasks
                                </li>
                            <li>Better communication</li>
                            <li>Easy access to all
                                </li>
                            <li>Managing the timetables</li>
                            <li>Complete tracking of the students</li>
                        </ul>
                    </div>
                </div>
                        </div>
    <div class="container bg-dark">
       <div class="row">
        <div class="col-md-4">
            <h4 class="text-white">About</h4>
            <p class="text-white">A school system generates and uses a large amount of data. A student management system helps schools to store, manage, and distribute this information.
                </p>
        </div>
        <div class="col-md-4">
                <h4 class="text-white">Quick Links</h4>
                <a href="home">Home</a><br/>
                <a href="aboutUs">AboutUs</a><br/>
                  <a href="login">Login</a><br/>
            </div>
            <div class="col-md-4">
                    <h4 class="text-white">ContactUs</h4>
                    <p class="text-white">call 9865758771</p>
                    <p class="text-white">call 8796706456</p>
                    <p class="text-white">call 9876567823</p>
                    <p class="text-white">whatup us</p>
                    <h4 class="text-white">Social Media</h4>
                    <pre> <img src="assets/1.webp"height="25px"width="25px">  <img src="assets/2.png"height="25px"width="25px">  <img src="assets/3.png"height="25px"width="25px"></pre>
                </div>
                
    </div>
    
    </div>
    
      </div>

