
<div class="container">
        <div class="row mt-5">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table class="table" *ngFor="let obj of y">
            <tr  class="text-white">
                <td>student no</td>
                <td>{{obj.studentno}}</td>
            </tr>
            <tr class="text-white">
                <td>username</td>
                <td>{{obj.username}}</td>
            </tr>
            <tr class="text-white">
                <td>password</td>
                <td>{{obj.password}}</td>
            </tr>
            <tr class="text-white">
                <td>student name</td>
                <td>{{obj.studentname}}</td>
            </tr>
           
            <tr class="text-white">
                <td>email id</td>
                <td>{{obj.email}}</td>
            </tr>
            
                <tr class="text-white">
                        <td>course</td>
                        <td>{{obj.course}}</td>
                        </tr>
                        <tr class="text-white">
                                <td>branch</td>
                                <td>{{obj.branch}}</td>
                                </tr>
        </table>
            </div>
            </div>
        </div>
        <!-- <table class="table">
            <thead>
                <th>studentno</th>
                <th>username</th>
                <th>password</th>
                <th>studentname</th>
                <th>email id</th>
                <th>course</th>
                <th>branch</th>
            </thead>
            <tr *ngFor="let q of l">
                <td>{{q.studentno}}</td>
                <td>{{q.username}}</td>
                <td>{{q.password}}</td>
                <td>{{q.studentname}}</td>
                <td>{{q.email}}</td>
                <td>{{q.course}}</td>
                <td>{{q.branch}}</td>
               
            </tr>
        </table>
        <button>x</button>
        <div class="col-md-3"></div>
            </div>
        </div>
    </div>
     -->