<!-- <div class="container">
    <h4 class="text-success text-center">Notifications Status</h4>
        <div class="row">
        <div class="col-md-3"></div>
        <div class="form-group">
            <div class="col-md-6">
            
            <input type="text" name="notification"place-holder="Notification"#ref id="notificationData" class="form-control"ngModel>
        </div>
        </div>
        <div class="text-center">
                 <button class="btn btn-success" type="submit">submit</button>
                 </div>
 -->
<div class="container">
    <h4 class="text-center text-danger">Notification</h4>
    <form #ref="ngForm" (ngSubmit)="notifications(ref.value)">
        <div class="form-group">
            <input type="text" name="notification" id="" placeholder="notification" class="form-control" ngModel>
            <div class="text-center">
                <button class="btn btn-success mt-3">post</button>
            </div>
        </div>

    </form>
</div>